/* Start Font */
<style>
@import url('https://fonts.googleapis.com/css?family=Coming+Soon|Dokdo');
</style>
/* End Font */

/* Start Body */
body{
    color: #ffffff;
    font-family: 'Dokdo', cursive;
    font-family: 'Coming Soon', cursive;
    font-size: 16px;
    line-height: 1.5em;
    margin: 0;
    padding: 0; 
}
/* End Body */

.bg{
    width: 100%;
     height: 100%;
     position: fixed;
     z-index: 1;
     float: left;
     left: 0;
}

.content {
    width: 80%;
    height: auto;
    margin: 0 auto;
    position: relative;
    z-index: 5;
    padding: 30px;
    text-align: left;
    columns: #000000;
}
/* Start Debug */
.bg-blueviolet {
    background-color: rgb(177, 107, 241);
}

.bg-blue {
    background-color: rgb(74, 74, 248);
}
/* End Debug */

/* Start Container */
.container {
    margin: 10px auto;
    overflow: auto;
    width: 100%;
}
/* End Container */

/* Start Logo */
.logo {
    text-align: center;
}
/* End Logo */

/* Start Anchor / Hyperlink */
a:link,
a:visited {
    color:#000000;
    text-decoration: none;
}
a:hover
a:active {
    color:#2904fa;
    text-decoration: underline;
}
/* End Anchor / Hyperlink */

/* Start Menu Primer */
.menu-primer ul {
    background-color: #0ad8fc;
    border-radius: 4px;
    box-shadow:
        0 3px 5px -1px rgba(red, green, blue, alpha),
        0 6px 10px 0 rgba(red, green, blue, alpha),
        0 1px 18px 0 rgba(red, green, blue, alpha);
   
    text-align: center;
}

.menu-primer li {
    border-right: 2px solid rgb(11, 3, 80);
    border-left: 2px solid rgb(11, 3, 80);
    display: inline-block;
    margin: 0px auto;
    padding:10px 30px;
    

}

.menu-primer a {
    color:#f0e7e7;
    font-size: 15px;
    display: inline-block;
    letter-spacing: 1px;
    padding: 10px;
    text-transform: uppercase;
}
.menu-primer a:hover {
    background-color: #f0e7e7;
    color: #ffffff;
    text-decoration: none;
}

.menu-primer .active{
    background-color: #f0e7e7;
    color: black;
    text-decoration: none;

}
/* End Menu Primer */

/* Start Heading */
h1, h2, h3, h4, {
    font-weight: 400;
    letter-spacing: 1px;
}
.h1 {
    font-size: 25px;
}
.h2 {
    font-size: 16px;
    
}
.h3 {
    font-size: 14px;
}
.h4 {
    font-size: 12px;
}
/* End Heading */

/* Start Jumbotron */
.jumbotron {
    background-color: #0ad8fc;
    border: 1px solid aquamarine;
    border-radius: 4px;
    padding: 20px 0;
}
.jumbotron h1 {
    font-size: 30px;
    padding: 0 20px;
}
.jumbotron h3 {
    font-size: 30px;
    padding: 0 20px;
}
.jumbotron p {
    font-size: 30px;
    padding: 0 20px;
    text-align: justify;
/* End Jumbotron */

/* Start Main */
.main-home-one {
    float: left;
}
.main-home-two {
    float: left;
}
.main-home-three {
    float: left;
}
/* End Main */

/* Start Menu sekunder */
.menu-sekuner {
    border-bottom: 1px solid;
    border-top: 1px solid;
    overflow: auto;
    padding: 10px 0;
}
.menu-sekunder h4 {
    font-size: 14px;
    margin: 0 auto;
    text-transform: uppercase;
}
.menu-sekunder ul {
    padding: 0;
}
.menu-sekunder il {
    list-style: disc;
}
.menu-sekunder-one
.menu-sekunder-two
.menu-sekunder-three {
    float: left;
}

/* End Menu sekunder */